<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Developer\Model\TemplateEngine\Plugin\DebugHints" type="DNAFactory\Devtools\Plugin\DebugHints" />

    <type name="MSP\DevTools\Model\Config">
        <plugin name="enable_devtools" type="DNAFactory\Devtools\Plugin\Devtools" sortOrder="30" />
    </type>
</config>